/* html {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #30469c;
  color: '#f8f9fb';
} */

#map {
  width: 1550px;
  height: 600px;
  padding: 0;
  margin: 25px;
}

/* a {
  color: #04b; 
  text-decoration: none; 
}

a:visited {
  color: #04b; 
}

a:hover {
  color: #f50000;
} */
